<div class="d-flex justify-content-center">
  <div class="col-6">
    <%= simple_form_for [@cocktail, @dose ] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

